[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
matplotlib = "*"
wordcloud = "*"
tiktoken = "*"
python-dotenv = "*"
scikit-learn = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
